<div class="container-fluid registration py-5">
  <div class="row">
    <div class="offset-1">
    <h2>アイデア一覧</h2>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>メインテーマ</th>
      <th>作成日時</th>
      <%= form_with model: @square do |f| %>
      <th>新しいアイデアを作成する<%= f.text_field :row_5 %></th>
      <th><%= f.submit '投稿' %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>テーブルのセル</td>
    </tr>
  </tbody>
</table>