<div class="d-flex justify-content-center mt-4">
    <textarea rows="3" cols="7"></textarea>
    <textarea rows="3" cols="7"></textarea>
    <textarea rows="3" cols="7"></textarea>
  </div>
  <div class="d-flex justify-content-center">
    <textarea rows="3" cols="7"></textarea>
    <textarea rows="3" cols="7">テーマ</textarea>
    <textarea rows="3" cols="7"></textarea>
  </div>
  <div class="d-flex justify-content-center">
   <textarea rows="3" cols="7"></textarea>
   <textarea rows="3" cols="7"></textarea>
   <textarea rows="3" cols="7"></textarea>
  </div>
 </div>
 <h3>
   <ul>
     <ol>
       <li>メインテーマを決める</li>
     </ol>
   </ul>
 </h3>