<div class="d-flex justify-content-center mt-4">
  <textarea rows="3" cols="7"></textarea>
  <textarea rows="3" cols="7"></textarea>
  <textarea rows="3" cols="7"></textarea>
</div>
<div class="d-flex justify-content-center">
  <textarea rows="3" cols="7"></textarea>
  <textarea rows="3" cols="7">メイン　テーマ</textarea>
  <textarea rows="3" cols="7">関連するアイデア</textarea>
</div>
<div class="d-flex justify-content-center">
  <textarea rows="3" cols="7"></textarea>
  <textarea rows="3" cols="7"></textarea>
  <textarea rows="3" cols="7"></textarea>
</div>

<ul>
  <h4>
    <li>メインテーマを決める</li>
  </h4>
    アイデア一覧のメインテーマ作成フォームから、課題や悩みを入れます。
    <textarea rows="1" >メインテーマを入力</textarea>
    <br /><span class="btn-sm btn-success", style="margin: auto;" >作成</span>
    ボタンを押して作成します。
    <br />(例:ダイエットなど)
</ul>
<ul>
  <h4>
    <li>メインテーマに関するアイデアを他のマスに入力し保存しましょう。</li>
  </h4>
  情報はあらかじめ得ていればいるほど、埋めることができアイデアを広げていくことができます。
  <br />(例:食事制限,スポーツ,運動など)
</ul>
<ul>
  <h4>
    <li>保存をすると他のマスの真ん中に表示されるので、またアイデアを広げていきましょう。</li>
  </h4>
  出したアイデアでより良いアイデアを生み出しましょう！
  <br />※保存ボタンは左下にあります。
</ul>