<div class="container">
  <div class="cube">
    <div><span>i</span></div>
    <div><span>d</span></div>
    <div><span>e</span></div>
    <div><span>a</span></div>
    <div><span>s</span></div>
    <div><h4>Top</h4></div>
  </div>
</div>
  <p class="text-center">マンダラートを題材にしたアプリです</p>
  <p class="text-center">使い方をご覧下さい</p>
  <p class="text-center">※お使い頂くには新規登録して、ログインが必要です</p>