<div class="container">
  <div class="cube">
    <div><span>i</span></div>
    <div><span>d</span></div>
    <div><span>e</span></div>
    <div><span>a</span></div>
    <div><span>s</span></div>
    <div><h4>Top</h4></div>
  </div>
</div>